@model Endmer.Models.Entity.Tbl_Araclar

@{
    ViewBag.Title = "YeniKullanici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header">
                    <h6 class="text-center fs-4">Yeni Kullancıya Aktar</h6>
                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div class="container">

                            @using (Html.BeginForm("YeniKullanici", "Araclar", FormMethod.Post))
                            {

                                <div class="row mb-3">
                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <label class="form-label">KM</label>
                                        @Html.TextBoxFor(x => x.KM, new { @class = "form-control", @placeholder = "KM.." })
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <label class="form-label">Lokasyon</label>
                                        @Html.DropDownListFor(x => x.Tbl_Konumlar.ID, (List<SelectListItem>)ViewBag.Location, new { @class = "form-select" })
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <label class="form-label">Teslim Alan</label>
                                        @Html.DropDownListFor(x => x.Tbl_Personel.ID, (List<SelectListItem>)ViewBag.Delivery, new { @class = "form-select" })
                                    </div>
                                </div>

                                <div class="d-grid gap-2">
                                    <button class="btn btn-success">Aktar</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    var araclar = document.getElementById('araclar');
    araclar.classList.add('active');
</script>