
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hata! - Sayfa Bulunamadı</title>

    <link rel="apple-touch-icon" sizes="76x76" href="~/template/logo.ico">
    <link rel="icon" type="image/png" href="~/template/logo.ico">

    <!-- Google font -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/ErrorTemplate/css/style.css" />

</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h3>Sayfa Bulunamadı!</h3>
                <h1><span>4</span><span>0</span><span>4</span></h1>
            </div>
            <h2>Görünüşü göre böyle bir sayfa yok.</h2>
            <div style="font-size: 20px;">
                <a href="/Hata/AnaSayfayaDon" class="font-monospace text-dark" style="margin: 0; padding: 0;text-decoration: none;">Ana Sayfaya Dön</a>
                <i class="fa-solid fa-tent-arrow-turn-left"></i>
            </div>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
