@model Endmer.Models.Entity.Tbl_Konumlar

@{
    ViewBag.Title = "KonumEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header">
                    <h6 class="text-center fs-4">Yeni Konum Ekle</h6>
                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div class="container">

                            <form method="post">

                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label class="form-label">Konum</label>
                                        <input type="text" class="form-control" name="KONUM" placeholder="Konum.." required />
                                        @Html.ValidationMessageFor(x => x.KONUM, "", new { @style = "color: red; font-size: 15px; text-align: center; display: block;" })
                                    </div>
                                </div>

                                <div class="d-grid gap-2 mb-3">
                                    <input type="submit" value="Yeni Konum Ekle" class="btn btn-info" />
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    var konumlar = document.getElementById('konumlar');
    konumlar.classList.add('active');
</script>