
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">

    @Html.Action("Cards", "AnaSayfa")

    <div class="row mt-4"></div>
    <div class="row mt-4">

        @Html.Action("PersonalByDepartman", "AnaSayfa")
        @Html.Action("ProductByCategory", "AnaSayfa")

    </div>

</div>




<script>
    var anasayfa = document.getElementById('anasayfa');
    anasayfa.classList.add('active');

    //$(function () { $('#myModal').modal('show') });
</script>