@model Endmer.Models.Entity.Tbl_Araclar

@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header">
                    <h6 class="text-center fs-4">Araç Bilgilerini Güncelle</h6>
                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div class="container">

                            @using (Html.BeginForm("Guncelle", "Araclarim", FormMethod.Post))
                            {

                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label class="form-label">KM</label>
                                        @Html.TextBoxFor(x => x.KM, new { @class = "form-control", @placeholder = "KM.." })
                                    </div>
                                </div>

                                <div class="d-grid gap-2">
                                    <button class="btn btn-success">Güncelle</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    var araclarim = document.getElementById('araclarim');
    araclarim.classList.add('active');
</script>